tank-pair-1/flows.json
[
    {
        "id": "51164a2570c98448",
        "type": "tab",
        "label": "Meso Control Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "188f3d12c338cf2e",
        "type": "tab",
        "label": "REST Access",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cbadd3392c768e8f",
        "type": "ui_tab",
        "name": "Meso Control Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9cb27cd7662de036",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#24abff",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#24abff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#24abff",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#70c8ff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#24abff",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Meso Control Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ba4217cd1248e741",
        "type": "ui_group",
        "name": "Meso Control",
        "tab": "cbadd3392c768e8f",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a745e6b.07df92",
        "type": "ui_group",
        "name": "Default",
        "tab": "e63bce2d.68925",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "e63bce2d.68925",
        "type": "ui_tab",
        "name": "Denon",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d6bd552f7c1f0120",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.51.102",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "3cfcee9f07bdf583",
        "type": "chronos-config",
        "name": "chronos_config_1",
        "timezone": "",
        "sunPositions": []
    },
    {
        "id": "46220ce9c8d2b07d",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "45f0857cd7a7486d",
        "type": "ros-server",
        "url": "ws://host.docker.internal:9090"
    },
    {
        "id": "8c25cdca95a4f35d",
        "type": "ui_switch",
        "z": "51164a2570c98448",
        "name": "V1",
        "label": "Main Valves",
        "tooltip": "",
        "group": "ba4217cd1248e741",
        "order": 12,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "V1",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ca802baf35ab3c2d",
        "type": "ui_slider",
        "z": "51164a2570c98448",
        "name": "TIDE_A",
        "label": "Tide",
        "tooltip": "",
        "group": "ba4217cd1248e741",
        "order": 16,
        "width": 3,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "TIDE_A",
        "topicType": "str",
        "min": 0,
        "max": "7.80",
        "step": "0.01",
        "className": "",
        "x": 900,
        "y": 540,
        "wires": [
            [
                "c3d8907a71bd9117"
            ]
        ]
    },
    {
        "id": "d98048a9173c794f",
        "type": "ui_switch",
        "z": "51164a2570c98448",
        "name": "V3",
        "label": "Main Valves",
        "tooltip": "",
        "group": "ba4217cd1248e741",
        "order": 13,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "V3",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "5c12e622defe1482",
        "type": "ui_text",
        "z": "51164a2570c98448",
        "group": "ba4217cd1248e741",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Tank A",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 890,
        "y": 300,
        "wires": []
    },
    {
        "id": "3741fec655bf92a8",
        "type": "ui_text",
        "z": "51164a2570c98448",
        "group": "ba4217cd1248e741",
        "order": 9,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Tank B",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 890,
        "y": 640,
        "wires": []
    },
    {
        "id": "07db7490fddc2459",
        "type": "ui_slider",
        "z": "51164a2570c98448",
        "name": "TIDE_B",
        "label": "Tide",
        "tooltip": "",
        "group": "ba4217cd1248e741",
        "order": 17,
        "width": 3,
        "height": 2,
        "passthru": false,
        "outs": "end",
        "topic": "TIDE_B",
        "topicType": "str",
        "min": 0,
        "max": "7.80",
        "step": "0.01",
        "className": "",
        "x": 900,
        "y": 880,
        "wires": [
            [
                "017d8ac48bb6f272"
            ]
        ]
    },
    {
        "id": "8f710de14cbfe7d5",
        "type": "ui_switch",
        "z": "51164a2570c98448",
        "name": "UPPER_MAGNETIC_VALVE",
        "label": "Upper Magnetic Valve",
        "tooltip": "",
        "group": "ba4217cd1248e741",
        "order": 21,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "UPPER_MAGNETIC_VALVE",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 960,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "02d35afca4a755e0",
        "type": "ui_switch",
        "z": "51164a2570c98448",
        "name": "LOWER_MAGNETIC_VALVE",
        "label": "Lower Magnetic Valve",
        "tooltip": "",
        "group": "ba4217cd1248e741",
        "order": 22,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "LOWER_MAGNETIC_VALVE",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 970,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "895748c4fa71b508",
        "type": "ui_switch",
        "z": "51164a2570c98448",
        "name": "MANUAL_CONTROL",
        "label": "Manual Control",
        "tooltip": "",
        "group": "ba4217cd1248e741",
        "order": 23,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "MANUAL_CONTROL",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 940,
        "y": 1080,
        "wires": [
            [
                "c0b95e498e864c46"
            ]
        ]
    },
    {
        "id": "c0b95e498e864c46",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "Write MANUAL_CONTROL to setpoint",
        "func": "// Write 'MANUAL_CONTROL' to setpoint\nsetpoint = flow.get(\"setpoint\") || {};\nsetpoint[msg.topic] = Number(msg.payload);\nflow.set(\"setpoint\", setpoint);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 1080,
        "wires": [
            [
                "c26dfbb2ff8817dd"
            ]
        ]
    },
    {
        "id": "1e247344ad3c7afa",
        "type": "ui_gauge",
        "z": "51164a2570c98448",
        "name": "",
        "group": "ba4217cd1248e741",
        "order": 4,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Temp",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#24abff",
            "#24abff",
            "#24abff"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "0763dd67456ee017",
        "type": "ui_gauge",
        "z": "51164a2570c98448",
        "name": "",
        "group": "ba4217cd1248e741",
        "order": 5,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "pH",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#24abff",
            "#24abff",
            "#24abff"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "a369493ca0198242",
        "type": "ui_gauge",
        "z": "51164a2570c98448",
        "name": "",
        "group": "ba4217cd1248e741",
        "order": 6,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Cond",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#24abff",
            "#24abff",
            "#24abff"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "385e8f677d1858e8",
        "type": "ui_gauge",
        "z": "51164a2570c98448",
        "name": "",
        "group": "ba4217cd1248e741",
        "order": 7,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Oxygen",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#24abff",
            "#24abff",
            "#24abff"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "0f4c31d89d78ba8d",
        "type": "ui_switch",
        "z": "51164a2570c98448",
        "name": "PUMP",
        "label": "Pump",
        "tooltip": "",
        "group": "ba4217cd1248e741",
        "order": 20,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "PUMP",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 890,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "faf9cbb9bb658881",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "V1",
        "func": "if (msg.payload != null){\n    msg.payload = Boolean(msg.payload.state);\n}\nmsg.enabled = false;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 340,
        "wires": [
            [
                "8c25cdca95a4f35d"
            ]
        ]
    },
    {
        "id": "cc510c94199283ba",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "V3",
        "func": "if (msg.payload != null){\n    msg.payload = Boolean(msg.payload.state);\n}\nmsg.enabled = false;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 680,
        "wires": [
            [
                "d98048a9173c794f"
            ]
        ]
    },
    {
        "id": "3d12a66ae3e0cdcc",
        "type": "ui_button",
        "z": "51164a2570c98448",
        "d": true,
        "name": "",
        "group": "ba4217cd1248e741",
        "order": 24,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Write to system",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 800,
        "y": 1600,
        "wires": [
            [
                "a741a6a17d12ca20",
                "9d0a7c4f5b435662"
            ]
        ]
    },
    {
        "id": "7c46258cc5f5e1ae",
        "type": "inject",
        "z": "51164a2570c98448",
        "name": "Trigger 1s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "8fb7d099d6da7d32",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "Compare Setpoint vs Status",
        "func": "var setpoint = flow.get(\"setpoint\") || {};\nvar sps_status = global.get(\"current_status\") || {};\n\nmsg.enabled = false;\n//if (sps_status[\"MANUAL_CONTROL\"] == 1){\n//    for (let x in setpoint){\n//        if (x != \"MANUAL_CONTROL\"){\n//            if (setpoint[x] != sps_status[x]){\n//                //node.warn(x);\n//                //node.warn(setpoint[x]);\n//                //node.warn(status[x]);\n//                msg.enabled = true; break;\n//            }\n//        }\n//    }\n//}\n//if (setpoint[\"temp_control_a\"] != sps_status[\"temp_control_a\"]){ msg.enabled = true; }\n//if (setpoint[\"temp_control_b\"] != sps_status[\"temp_control_b\"]){ msg.enabled = true; }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1600,
        "wires": [
            [
                "3d12a66ae3e0cdcc"
            ]
        ]
    },
    {
        "id": "202ef10d06cb20c6",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "CURRENT_TIDE_A",
        "func": "if (msg.payload != null) {\n    msg.payload = JSON.parse(msg.payload.data).TIDE_A/100;\n    msg.payload = parseFloat(msg.payload.toFixed(2))\n}\nmsg.enabled = true;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 580,
        "wires": [
            [
                "c9653abf31104242"
            ]
        ]
    },
    {
        "id": "7d73d5d0ac617f78",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "CURRENT_TIDE_B",
        "func": "if (msg.payload != null) {\n    msg.payload = JSON.parse(msg.payload.data).TIDE_B / 100;\n    msg.payload = parseFloat(msg.payload.toFixed(2))\n}\nmsg.enabled = true;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 920,
        "wires": [
            [
                "81e1cb5bcdbab2ad"
            ]
        ]
    },
    {
        "id": "0fd5cf285d3f392d",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "UPPER_MAGNETIC_VALVE",
        "func": "if (msg.payload != null){\n    msg.payload = Boolean(msg.payload.state);\n}\nmsg.enabled = false;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1000,
        "wires": [
            [
                "8f710de14cbfe7d5"
            ]
        ]
    },
    {
        "id": "1b075f1d24e9a5c0",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "PUMP",
        "func": "if (msg.payload != null){\n    msg.payload = Boolean(msg.payload.state);\n}\nmsg.enabled = false;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 960,
        "wires": [
            [
                "0f4c31d89d78ba8d"
            ]
        ]
    },
    {
        "id": "15d7760739b7a13b",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "LOWER_MAGNETIC_VALVE",
        "func": "if (msg.payload != null){\n    msg.payload = Boolean(msg.payload.state);\n}\nmsg.enabled = false;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1040,
        "wires": [
            [
                "02d35afca4a755e0"
            ]
        ]
    },
    {
        "id": "77e184d1718ac484",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "RO_TEMP",
        "func": "if (msg.payload != null){\n    msg.payload = parseFloat(msg.payload.temperature.toFixed(2));\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 140,
        "wires": [
            [
                "1e247344ad3c7afa"
            ]
        ]
    },
    {
        "id": "918ac860e7a0f619",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "RO_PH",
        "func": "if (msg.payload != null){\n    msg.payload = parseFloat(msg.payload.acidity.toFixed(2));\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 180,
        "wires": [
            [
                "0763dd67456ee017"
            ]
        ]
    },
    {
        "id": "714926aa96291ec2",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "RO_COND",
        "func": "if (msg.payload != null){\n    msg.payload = parseFloat(msg.payload.salinity.toFixed(2));\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 220,
        "wires": [
            [
                "a369493ca0198242"
            ]
        ]
    },
    {
        "id": "a51cc46b59174854",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "RO_OXYGEN",
        "func": "if (msg.payload != null){\n    msg.payload = parseFloat(msg.payload.o2_concentration.toFixed(2));\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 260,
        "wires": [
            [
                "385e8f677d1858e8"
            ]
        ]
    },
    {
        "id": "17d398ac68527a69",
        "type": "ui_text",
        "z": "51164a2570c98448",
        "group": "ba4217cd1248e741",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Tank Pair 1",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 630,
        "y": 20,
        "wires": []
    },
    {
        "id": "667ab4fb4b6b67c2",
        "type": "ui_text",
        "z": "51164a2570c98448",
        "group": "ba4217cd1248e741",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Status",
        "label": "Status: {{msg.payload}}",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 610,
        "y": 60,
        "wires": []
    },
    {
        "id": "d705ce818336ad97",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "get LAST_STEP",
        "func": "var step_list = [\n    \"STOP\",\n    \"PREP TANK A\",\n    \"VENT TANK A\",\n    \"RUN TANK A\",\n    \"STOP TANK A\",\n    \"DRAIN SYSTEM A\",\n    \"PREP TANK B\",\n    \"VENT TANK B\",\n    \"RUN TANK B\",\n    \"STOP TANK B\",\n    \"DRAIN SYSTEM B\"\n]\n\nif (msg.payload.data == null) { msg.payload = \"UNKNOWN\" }\nelse { msg.payload = step_list[msg.payload.data] }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 60,
        "wires": [
            [
                "667ab4fb4b6b67c2"
            ]
        ]
    },
    {
        "id": "c26dfbb2ff8817dd",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "MANUAL CONTROL == 0",
        "func": "if (msg.payload == 0){\n    return msg;   \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 1080,
        "wires": [
            [
                "d53c12f54431f534"
            ]
        ]
    },
    {
        "id": "d53c12f54431f534",
        "type": "link out",
        "z": "51164a2570c98448",
        "name": "",
        "mode": "link",
        "links": [
            "1d6e67eefea1a621"
        ],
        "x": 1695,
        "y": 1080,
        "wires": []
    },
    {
        "id": "1a220d7c6bc1630f",
        "type": "ui_numeric",
        "z": "51164a2570c98448",
        "name": "TEMP_SETPOINT_A",
        "label": "",
        "tooltip": "",
        "group": "ba4217cd1248e741",
        "order": 10,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": false,
        "topic": "temp_control_a",
        "topicType": "str",
        "format": "{{value}} °C",
        "min": 0,
        "max": "25",
        "step": "0.1",
        "className": "",
        "x": 940,
        "y": 420,
        "wires": [
            [
                "2a5a4345e98bfad5"
            ]
        ]
    },
    {
        "id": "8c242c6939227338",
        "type": "ui_numeric",
        "z": "51164a2570c98448",
        "name": "TEMP_SETPOINT_B",
        "label": "",
        "tooltip": "",
        "group": "ba4217cd1248e741",
        "order": 11,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": false,
        "topic": "temp_control_b",
        "topicType": "str",
        "format": "{{value}} °C",
        "min": 0,
        "max": "25",
        "step": "0.1",
        "className": "",
        "x": 940,
        "y": 720,
        "wires": [
            [
                "a656528fdb70409f"
            ]
        ]
    },
    {
        "id": "cca8f02bd5f0d641",
        "type": "link out",
        "z": "51164a2570c98448",
        "name": "lnk_out_manual_setpoint_to_rest",
        "mode": "link",
        "links": [
            "c76a6fae6adc5754"
        ],
        "x": 1255,
        "y": 1760,
        "wires": []
    },
    {
        "id": "bf1081f9c1ab7aa0",
        "type": "inject",
        "z": "51164a2570c98448",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "6",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "84b3d29613274c97",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "Insert from REST-Request",
        "func": "var flow_setpoint = flow.get(\"setpoint\");\n\n// paste the values from the rest-request to the manual-control setpoint\nfor(let key in msg.setpoint){\n    //special treatment for float values represented as int\n    switch(key) {\n        case \"TEMP_SETPOINT_A\":\n            msg.setpoint[key] = parseInt(msg.setpoint[key] * 100.0);\n            break;\n        case \"TEMP_SETPOINT_B\":\n            msg.setpoint[key] = parseInt(msg.setpoint[key] * 100.0);\n            break;\n    }\n    flow_setpoint[key] = msg.setpoint[key];\n}\n\n// and move the setpoint, to easily pass the setpoint to the dashboard elements\nmsg.payload = flow_setpoint;\ndelete msg.setpoint;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1680,
        "wires": [
            [
                "90bfa2ce0d20a24f",
                "a741a6a17d12ca20"
            ]
        ]
    },
    {
        "id": "fdcf63cccbac0ce9",
        "type": "link in",
        "z": "51164a2570c98448",
        "name": "lnk_in_rest_setpoint_to_dashboard",
        "links": [
            "b21514a3b309e9fa"
        ],
        "x": 345,
        "y": 1680,
        "wires": [
            [
                "84b3d29613274c97"
            ]
        ]
    },
    {
        "id": "90bfa2ce0d20a24f",
        "type": "link out",
        "z": "51164a2570c98448",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "3939733a57e96169"
        ],
        "x": 905,
        "y": 1680,
        "wires": []
    },
    {
        "id": "5da0fb6680030a20",
        "type": "ui_switch",
        "z": "51164a2570c98448",
        "name": "AUTO_TIDE_A",
        "label": "Auto-Tide",
        "tooltip": "",
        "group": "ba4217cd1248e741",
        "order": 14,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "AUTO_TIDE_A",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 920,
        "y": 500,
        "wires": [
            [
                "360e2fde90318b03",
                "70ff94abd5651e3c"
            ]
        ]
    },
    {
        "id": "1c19ba01064aef11",
        "type": "ui_switch",
        "z": "51164a2570c98448",
        "name": "AUTO_TIDE_B",
        "label": "Auto-Tide",
        "tooltip": "",
        "group": "ba4217cd1248e741",
        "order": 15,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "AUTO_TIDE_B",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 920,
        "y": 840,
        "wires": [
            [
                "58c113ee4ae08ee2",
                "25ce4183720fdd6e"
            ]
        ]
    },
    {
        "id": "52b37fc435b7d54f",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "set auto-tide",
        "func": "var modes = global.get(\"modes\");\n\nif(msg.topic === \"AUTO_TIDE_A\"){\n    modes[\"auto_tide_a\"] = msg.payload;\n}\nelse if(msg.topic === \"AUTO_TIDE_B\"){\n    modes[\"auto_tide_b\"] = msg.payload;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "c9653abf31104242",
        "type": "ui_text",
        "z": "51164a2570c98448",
        "group": "ba4217cd1248e741",
        "order": 18,
        "width": 3,
        "height": 1,
        "name": "CURRENT_TIDE_A",
        "label": "Current Tide:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 580,
        "wires": []
    },
    {
        "id": "81e1cb5bcdbab2ad",
        "type": "ui_text",
        "z": "51164a2570c98448",
        "group": "ba4217cd1248e741",
        "order": 19,
        "width": 3,
        "height": 1,
        "name": "CURRENT_TIDE_B",
        "label": "Current Tide:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 920,
        "wires": []
    },
    {
        "id": "f47c3ceaa2d5a83d",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "TIDE_B",
        "func": "if(msg.payload != null){\n    if (context.get(\"update\")) {\n        msg.payload = parseFloat(msg.payload.state.toFixed(2));\n        return msg;\n    }\n}\nelse{\n    context.set(\"update\", !msg.enabled);\n    return msg; \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "if (context.get(\"update\") === undefined) {\n    context.set(\"update\", true)\n}",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 880,
        "wires": [
            [
                "07db7490fddc2459"
            ]
        ]
    },
    {
        "id": "ecb02bb24a61dedd",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "TIDE_A",
        "func": "if (msg.payload != null) {\n    if (context.get(\"update\")) {\n        msg.payload = parseFloat(msg.payload.state.toFixed(2));\n        return msg;\n    }\n}\nelse {\n    context.set(\"update\", !msg.enabled);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "if (context.get(\"update\") === undefined) {\n    context.set(\"update\", true)\n}",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 540,
        "wires": [
            [
                "ca802baf35ab3c2d"
            ]
        ]
    },
    {
        "id": "d32b3369525c798c",
        "type": "modbus-flex-write",
        "z": "51164a2570c98448",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "46220ce9c8d2b07d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 930,
        "y": 1480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "229df4c34158cfcb",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "Compare MANUAL_CONTROL Setpoint vs Status",
        "func": "var setpoint = flow.get(\"setpoint\");\nvar status = global.get(\"sps_status\");\nvar address_list = global.get(\"write_register_address_list\");\n\nmsg.payload = false;\nif (status != null && setpoint != null && address_list != null){\n    \n    if (setpoint[\"MANUAL_CONTROL\"] != status[\"MANUAL_CONTROL\"]){\n        let modbus_address = address_list[\"MANUAL_CONTROL\"];\n        msg.payload = { value: setpoint[\"MANUAL_CONTROL\"], 'fc': 6, 'unitid': 1, 'address': modbus_address , 'quantity': 1 };\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1480,
        "wires": [
            [
                "d32b3369525c798c"
            ]
        ]
    },
    {
        "id": "6dfd4cf90c503e43",
        "type": "inject",
        "z": "51164a2570c98448",
        "name": "Trigger 1s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "a741a6a17d12ca20",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "send_setpoint_to_rest_module",
        "func": "msg.setpoint = RED.util.cloneMessage(flow.get(\"setpoint\"))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 1760,
        "wires": [
            [
                "cca8f02bd5f0d641"
            ]
        ]
    },
    {
        "id": "4ca967a3c0613f67",
        "type": "ros-subscribe",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "topicname": "/water_sensor/value",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "77e184d1718ac484",
                "918ac860e7a0f619",
                "714926aa96291ec2",
                "a51cc46b59174854"
            ]
        ]
    },
    {
        "id": "3f41c7f78b87e50b",
        "type": "ros-subscribe",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "topicname": "/meso_state_machine/current_step",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "d705ce818336ad97"
            ]
        ]
    },
    {
        "id": "f7f7aae7038f8f44",
        "type": "ros-subscribe",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "topicname": "/valve_tank_a/state",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "faf9cbb9bb658881"
            ]
        ]
    },
    {
        "id": "88a6404e01572823",
        "type": "ros-subscribe",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "topicname": "/tide_control_a/state",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "ecb02bb24a61dedd"
            ]
        ]
    },
    {
        "id": "9cdc36dfd845b0d8",
        "type": "ros-subscribe",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "topicname": "/modbus_tcp_node/read",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "202ef10d06cb20c6"
            ]
        ]
    },
    {
        "id": "52f6107e92a6518a",
        "type": "ros-subscribe",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "topicname": "/valve_tank_b/state",
        "x": 330,
        "y": 680,
        "wires": [
            [
                "cc510c94199283ba"
            ]
        ]
    },
    {
        "id": "e50387c173546d3f",
        "type": "ros-subscribe",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "topicname": "/tide_control_b/state",
        "x": 330,
        "y": 880,
        "wires": [
            [
                "f47c3ceaa2d5a83d"
            ]
        ]
    },
    {
        "id": "03ec428c4eefea38",
        "type": "ros-subscribe",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "topicname": "/modbus_tcp_node/read",
        "x": 350,
        "y": 920,
        "wires": [
            [
                "7d73d5d0ac617f78"
            ]
        ]
    },
    {
        "id": "0692be9cc6dfb18a",
        "type": "ros-subscribe",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "topicname": "/pump/state",
        "x": 310,
        "y": 960,
        "wires": [
            [
                "1b075f1d24e9a5c0"
            ]
        ]
    },
    {
        "id": "fab67d53b5a895d1",
        "type": "ros-subscribe",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "topicname": "/upper_magnetic_valve/state",
        "x": 360,
        "y": 1000,
        "wires": [
            [
                "0fd5cf285d3f392d"
            ]
        ]
    },
    {
        "id": "02afff1b37275393",
        "type": "ros-subscribe",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "topicname": "/lower_magnetic_valve/state",
        "x": 360,
        "y": 1040,
        "wires": [
            [
                "15d7760739b7a13b"
            ]
        ]
    },
    {
        "id": "7515ac406f967c30",
        "type": "switch",
        "z": "51164a2570c98448",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temp_control_a",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temp_control_b",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1230,
        "y": 1600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9d0a7c4f5b435662",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "prepare service calls",
        "func": "var setpoint = flow.get(\"setpoint\")\n\nfor (let key in setpoint) {\n    let request = {};\n    request.topic = key;\n    request.payload = {};\n    request.payload.new_status = setpoint[key];\n    node.send(request);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1600,
        "wires": [
            [
                "7515ac406f967c30",
                "77c693f9ea53148c"
            ]
        ]
    },
    {
        "id": "77c693f9ea53148c",
        "type": "debug",
        "z": "51164a2570c98448",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1640,
        "wires": []
    },
    {
        "id": "d620cb2d7966e76d",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "set initially",
        "func": "var current_status = global.get(\"current_status\");\n\nif(context.get(\"initially\")){\n    context.set(\"initially\", false);\n    msg.payload = parseFloat(msg.payload.state.toFixed(2));\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "if (context.get(\"initially\") === undefined) {\n    context.set(\"initially\", true)\n}",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 420,
        "wires": [
            [
                "1a220d7c6bc1630f"
            ]
        ]
    },
    {
        "id": "7561c980a3ccc18b",
        "type": "ros-call-service",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "servicename": "/temp_control_a/control",
        "srvtype": "osbk_interfaces/srv/ContinuousActuatorControll",
        "x": 1390,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "7b9614d0a7dea9b0",
        "type": "ros-call-service",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "servicename": "/temp_control_b/control",
        "srvtype": "osbk_interfaces/srv/ContinuousActuatorControl",
        "x": 1390,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "2a5a4345e98bfad5",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "prepare service call",
        "func": "let request = msg.payload;\nmsg.payload = {};\nmsg.payload.new_status = request;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 420,
        "wires": [
            [
                "7561c980a3ccc18b"
            ]
        ]
    },
    {
        "id": "a656528fdb70409f",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "prepare service call",
        "func": "let request = msg.payload;\nmsg.payload = {};\nmsg.payload.new_status = request;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 720,
        "wires": [
            [
                "7b9614d0a7dea9b0"
            ]
        ]
    },
    {
        "id": "678ef535b95afdde",
        "type": "ros-subscribe",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "topicname": "/temp_control_a/state",
        "x": 340,
        "y": 420,
        "wires": [
            [
                "d620cb2d7966e76d"
            ]
        ]
    },
    {
        "id": "c579376ecc909929",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "set initially",
        "func": "var current_status = global.get(\"current_status\");\n\nif(context.get(\"initially\")){\n    context.set(\"initially\", false);\n    msg.payload = parseFloat(msg.payload.state.toFixed(2));\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "if (context.get(\"initially\") === undefined) {\n    context.set(\"initially\", true)\n}",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 720,
        "wires": [
            [
                "8c242c6939227338"
            ]
        ]
    },
    {
        "id": "a76aae8cb2e8c960",
        "type": "ros-subscribe",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "topicname": "/temp_control_b/state",
        "x": 340,
        "y": 720,
        "wires": [
            [
                "c579376ecc909929"
            ]
        ]
    },
    {
        "id": "6fa8cca94eebde01",
        "type": "ros-subscribe",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "topicname": "/tide_sim/auto_tide_current_a",
        "x": 360,
        "y": 500,
        "wires": [
            [
                "b2a6a3e7da585e6e"
            ]
        ]
    },
    {
        "id": "b2a6a3e7da585e6e",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "set initially",
        "func": "var current_status = global.get(\"current_status\");\n\nif(context.get(\"initially\")){\n    context.set(\"initially\", false);\n    msg.payload = parseInt(msg.payload.data);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "if (context.get(\"initially\") === undefined) {\n    context.set(\"initially\", true)\n}",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 500,
        "wires": [
            [
                "5da0fb6680030a20"
            ]
        ]
    },
    {
        "id": "0668ce470706eb07",
        "type": "ros-subscribe",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "topicname": "/tide_sim/auto_tide_current_b",
        "x": 360,
        "y": 840,
        "wires": [
            [
                "cc6481e469407d22"
            ]
        ]
    },
    {
        "id": "cc6481e469407d22",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "set initially",
        "func": "var current_status = global.get(\"current_status\");\n\nif(context.get(\"initially\")){\n    context.set(\"initially\", false);\n    msg.payload = parseInt(msg.payload.data);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "if (context.get(\"initially\") === undefined) {\n    context.set(\"initially\", true)\n}",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 840,
        "wires": [
            [
                "1c19ba01064aef11"
            ]
        ]
    },
    {
        "id": "360e2fde90318b03",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "prepare service call",
        "func": "let request = msg.payload;\nmsg.payload = {};\nmsg.payload.new_status = request;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 500,
        "wires": [
            [
                "19a6d74fb8b0716c"
            ]
        ]
    },
    {
        "id": "58c113ee4ae08ee2",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "prepare service call",
        "func": "let request = msg.payload;\nmsg.payload = {};\nmsg.payload.new_status = request;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 840,
        "wires": [
            [
                "17bbd4ef7a47cc09"
            ]
        ]
    },
    {
        "id": "19a6d74fb8b0716c",
        "type": "ros-call-service",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "servicename": "/tide_sim/set_auto_tide_a",
        "srvtype": "osbk_interfaces/srv/DiscreteActuatorControl",
        "x": 1370,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "17bbd4ef7a47cc09",
        "type": "ros-call-service",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "servicename": "/tide_sim/set_auto_tide_b",
        "srvtype": "osbk_sim/srv/DiscreteActuatorControl",
        "x": 1370,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "70ff94abd5651e3c",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "enable/disable tide slider",
        "func": "let response = {};\nif(msg.payload > 0){\n    response.enabled = false;\n}\nelse{\n    response.enabled = true;\n}\nreturn response;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 460,
        "wires": [
            [
                "ecb02bb24a61dedd"
            ]
        ]
    },
    {
        "id": "25ce4183720fdd6e",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "enable/disable tide slider",
        "func": "let response = {};\nif(msg.payload > 0){\n    response.enabled = false;\n}\nelse{\n    response.enabled = true;\n}\nreturn response;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 800,
        "wires": [
            [
                "f47c3ceaa2d5a83d"
            ]
        ]
    },
    {
        "id": "017d8ac48bb6f272",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "prepare service call",
        "func": "let request = msg.payload;\nmsg.payload = {};\nmsg.payload.new_status = request;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 880,
        "wires": [
            [
                "9c2e4ad9e63f24ab"
            ]
        ]
    },
    {
        "id": "c3d8907a71bd9117",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "prepare service call",
        "func": "let request = msg.payload;\nmsg.payload = {};\nmsg.payload.new_status = request;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 540,
        "wires": [
            [
                "92e9e2a712cc440f"
            ]
        ]
    },
    {
        "id": "92e9e2a712cc440f",
        "type": "ros-call-service",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "servicename": "/tide_control_a/control",
        "srvtype": "osbk_interfaces/srv/DiscreteActuatorControl",
        "x": 1360,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "9c2e4ad9e63f24ab",
        "type": "ros-call-service",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "servicename": "/tide_control_b/control",
        "srvtype": "osbk_interfaces/srv/DiscreteActuatorControl",
        "x": 1360,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "a2e8593df24d14d6",
        "type": "ui_dropdown",
        "z": "51164a2570c98448",
        "name": "operating_mode",
        "label": "Set Mode",
        "tooltip": "",
        "place": "Select option",
        "group": "ba4217cd1248e741",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Automatic cycle",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Measure tank A",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Measure tank B",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Drain Sensor",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Stop",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "operating_mode",
        "topicType": "str",
        "className": "",
        "x": 860,
        "y": 100,
        "wires": [
            [
                "614f6b5ca6f9dbef"
            ]
        ]
    },
    {
        "id": "6cbc1b50ac524d2d",
        "type": "ros-call-service",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "servicename": "/meso_state_machine/mode",
        "srvtype": "meso_interfaces/srv/ChangeOperatingMode",
        "x": 1320,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "614f6b5ca6f9dbef",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "prepare service call",
        "func": "var MODE_STRING = [\n    \"AUTOMATIC_CYCLE\",\n    \"MEASURE_TANK_A\",\n    \"MEASURE_TANK_B\",\n    \"DRAIN_SENSOR\",\n    \"STOP\"\n]\nlet request = msg.payload;\nmsg.payload = {};\nmsg.payload.mode = MODE_STRING[request];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 100,
        "wires": [
            [
                "6cbc1b50ac524d2d"
            ]
        ]
    },
    {
        "id": "290a10c540893aa1",
        "type": "function",
        "z": "51164a2570c98448",
        "name": "set initially",
        "func": "if(context.get(\"initially\")){\n    let MODE_STRING = [\n        \"AUTOMATIC_CYCLE\",\n        \"MEASURE_TANK_A\",\n        \"MEASURE_TANK_B\",\n        \"DRAIN_SENSOR\",\n        \"STOP\"\n    ]\n\n    context.set(\"initially\", false);\n    msg.payload = MODE_STRING.indexOf(msg.payload.data);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "if (context.get(\"initially\") === undefined) {\n    context.set(\"initially\", true)\n}",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 100,
        "wires": [
            [
                "a2e8593df24d14d6"
            ]
        ]
    },
    {
        "id": "f7935ad229f88f52",
        "type": "ros-subscribe",
        "z": "51164a2570c98448",
        "server": "45f0857cd7a7486d",
        "topicname": "/meso_state_machine/current_mode",
        "x": 440,
        "y": 100,
        "wires": [
            [
                "290a10c540893aa1"
            ]
        ]
    },
    {
        "id": "3659d24f9e27841c",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "e557b21c74ad09ac",
        "type": "http response",
        "z": "188f3d12c338cf2e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 320,
        "wires": []
    },
    {
        "id": "df3d67198926b044",
        "type": "function",
        "z": "188f3d12c338cf2e",
        "name": "getSystemResponse",
        "func": "var sps_status = global.get(\"sps_status\");\nvar rest_response = flow.get(\"rest_response\");\nvar map_endpoint_to_response = flow.get(\"map_endpoint_to_response\");\nvar map_response_to_status = flow.get(\"map_response_to_status\");\n\nvar getOperatingModeString = function(mode_number) {\n    switch (mode_number) {\n        case 0:\n            return \"AUTOMATIC_CYCLE\";\n        case 1:\n            return \"MEASURE_TANK_A\";\n        case 2:\n            return \"MEASURE_TANK_B\";\n        case 3:\n            return \"DRAIN_SENSOR\";\n        case 4:\n            return \"STOP\";\n    }\n}\n\n/* returns the corresponding name for a given step number */\nvar getStatusString = function (step_number) {\n    switch (step_number) {\n        case 0:\n            return \"STOP\";\n        case 1:\n            return \"PREP_TANK_A\";\n        case 2:\n            return \"VENT_TANK_A\";\n        case 3:\n            return \"RUN_TANK_A\";\n        case 4:\n            return \"STOP_TANK_A\";\n        case 5:\n            return \"DRAIN_TANK_A\";\n        case 6:\n            return \"PREP_TANK_B\";\n        case 7:\n            return \"VENT_TANK_B\";\n        case 8:\n            return \"RUN_TANK_B\";\n        case 9:\n            return \"STOP_TANK_B\";\n        case 10:\n            return \"DRAIN_TANK_B\";\n    }\n}\n\n/* recursively fill the response object from current sps_status\n    using the given mapping*/\nvar fillResponseFromSpsStatus = function(response, map) {\n    for (let key in response){\n        // if current parameter is object fill its nested parameters\n        if (typeof response[key] === 'object' && response[key] !== null) {\n            fillResponseFromSpsStatus(response[key], map[key]);\n        }\n        // if current parameter is a simple value assign it and break recursion\n        else{\n            // if the value should not be copied from sps-status, but instead from the current setpoint etc.\n            // it maps to -1\n            if(map[key] !== -1){\n                // special handling of auto-tide and operating mode\n                if (key === \"auto_tide\" || key === \"operating_mode\") {\n                    let modes = global.get(\"modes\");\n                    response[key] = modes[map[key]];\n                    if (key === \"operating_mode\") {\n                        response[key] = getOperatingModeString(response[key]);\n                    }\n                }\n                else{\n                    response[key] = sps_status[map[key]];\n                \n                    // replace step number with status string\n                    if(key === \"state\"){\n                        response[key] = getStatusString(response[key]);\n                    }\n                }\n            }\n        }\n    }\n    //node.warn(response);\n    return response;\n}\n\n/* return the nested object for a request with given url */\nvar extractSpecificResponse = function(url) {\n    var response = RED.util.cloneMessage(rest_response);\n\n    // remove trailing slashes\n    url = url.endsWith('/') ? url.slice(0, -1) : url;\n\n    // get the path to the nested parameter\n    var path = map_endpoint_to_response[url].split(\".\");\n    // select the requested nested parameter\n    //node.warn(path);\n    for(let index in path){\n        response = response[path[index]];\n        if(response === null){\n            msg.statusCode = 500;\n        }\n    }\n\n    // return the response as the key-value pair from the full response-json\n    return {[path.at(-1)]: response};\n}\n\nfillResponseFromSpsStatus(rest_response, map_response_to_status);\n\n//unless something goes wrong set response status to OK\nmsg.statusCode = 200\nmsg.payload = extractSpecificResponse(msg.req.url);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "e557b21c74ad09ac"
            ]
        ]
    },
    {
        "id": "64ce7197e83effd7",
        "type": "inject",
        "z": "188f3d12c338cf2e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "38ebe3a6bd75e794",
                "76e41250122a7b0d",
                "c797ee2da7456504"
            ]
        ]
    },
    {
        "id": "38ebe3a6bd75e794",
        "type": "template",
        "z": "188f3d12c338cf2e",
        "name": "rest_response",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"system\": {\n        \"operating_mode\": null,\n        \"state\": null,\n        \"pump\": null,\n        \"valves\": {\n            \"main_a\": null,\n            \"main_b\": null,\n            \"upper\": null,\n            \"lower\": null\n        },\n        \"sensor\": {\n            \"temperature\": null,\n            \"salinity\": null,\n            \"o2_concentration\": null,\n            \"acidity\": null\n        },\n        \"tank_a\": {\n            \"platform_position\": {\n                \"auto_tide\": null,\n                \"target\": null,\n                \"current\": null\n            },\n            \"temperature\": {\n                \"target\": null,\n                \"current\": null\n            },\n            \"salinity\": null,\n            \"o2_concentration\": null,\n            \"acidity\": null\n        },\n        \"tank_b\": {\n            \"platform_position\": {\n                \"auto_tide\": null,\n                \"target\": null,\n                \"current\": null\n            },\n            \"temperature\": {\n                \"target\": null,\n                \"current\": null\n            },\n            \"salinity\": null,\n            \"o2_concentration\": null,\n            \"acidity\": null\n        }\n    },\n    \"configuration\": {\n        \"timing\": {\n            \"tank_switch_interval\": null,\n            \"empty_duration\": null,\n            \"temp_check_interval\": null\n        },\n        \"modbus\": {\n            \"heartbeat_interval\": null,\n            \"publish_interval\": null,\n            \"read_interval\": null\n        }\n    }\n}",
        "output": "json",
        "x": 320,
        "y": 40,
        "wires": [
            [
                "9dc52c24123445f5"
            ]
        ]
    },
    {
        "id": "6d9edf53bede6d75",
        "type": "function",
        "z": "188f3d12c338cf2e",
        "name": "fill_rest_response_from_setpoint",
        "func": "var rest_response = flow.get(\"rest_response\");\n\nfor (let x in msg.setpoint) {\n    switch (x) {\n        case \"TIDE_A\":\n            rest_response[\"system\"][\"tank_a\"][\"platform_position\"][\"target\"] = msg.setpoint[x];\n            break;\n        case \"TIDE_B\":\n            rest_response[\"system\"][\"tank_b\"][\"platform_position\"][\"target\"] = msg.setpoint[x];\n            break;\n        case \"TEMP_SETPOINT_A\":\n            rest_response[\"system\"][\"tank_a\"][\"temperature\"][\"target\"] = parseFloat((0.01 * msg.setpoint[x]).toFixed(2));\n            break;\n        case \"TEMP_SETPOINT_B\":\n            rest_response[\"system\"][\"tank_b\"][\"temperature\"][\"target\"] = parseFloat((0.01 * msg.setpoint[x]).toFixed(2));\n            break;\n    }\n}\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c76a6fae6adc5754",
        "type": "link in",
        "z": "188f3d12c338cf2e",
        "name": "fill_rest_response",
        "links": [
            "cca8f02bd5f0d641",
            "ed99c88cb27711c5"
        ],
        "x": 185,
        "y": 160,
        "wires": [
            [
                "6d9edf53bede6d75"
            ]
        ]
    },
    {
        "id": "f8f0d0134a3cb955",
        "type": "http response",
        "z": "188f3d12c338cf2e",
        "name": "",
        "statusCode": "501",
        "headers": {},
        "x": 860,
        "y": 1880,
        "wires": []
    },
    {
        "id": "f94a70e73b2b29ec",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/state",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "e9338fcb405f81c7",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/pump",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "ba3f858a9fb72d59",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/valves",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "332e80d8b97154de",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/valves/main-a",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 520,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "b60a447c44e02de0",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/valves/main-b",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 560,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "a39285631c628c90",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/valves/upper",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 600,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "0f6c75fb0f5df150",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/valves/lower",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "c57f73cec4862dfb",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/sensor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "7c6f1c604677ef5f",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/sensor/temperature",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 720,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "17353c6ee556e9d2",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/sensor/salinity",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 760,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "57c6a3e4c0a6c1e6",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/sensor/o2-concentration",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 800,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "2a08e3316ffc31df",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/sensor/acidity",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 840,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "7a71c405324d7665",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 880,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "820073c8e20c4c91",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a/platform-position",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 920,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "0fa1d0b89eaed162",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a/platform-position/target",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 1000,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "1b7c2df2f4b193b7",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a/platform-position/current",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 1040,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "74e7d271bfecdd4e",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a/temperature",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 1080,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "1a392e9804f10ff0",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a/temperature/target",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 1120,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "fc3343701864edcd",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a/temperature/current",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 1160,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "f69410fc29d5337b",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 1320,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "4cf562e22f06b113",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b/platform-position",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 1360,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "ef691afc947388c2",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b/platform-position/target",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 1440,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "ca3a7cfc60531188",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b/platform-position/current",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 1480,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "3a6efb3ceb16d00c",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b/temperature",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 1520,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "4609057d2c8b8171",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b/temperature/target",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 1560,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "318f50eff35fc9ee",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b/temperature/current",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 1600,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "ca148de571f18f8a",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1760,
        "wires": [
            [
                "ece901707e5cce1b"
            ]
        ]
    },
    {
        "id": "5e56250982326c47",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration/timing",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 1800,
        "wires": [
            [
                "ece901707e5cce1b"
            ]
        ]
    },
    {
        "id": "65fb8c99369ec914",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration/timing/tank-switch-interval",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 1840,
        "wires": [
            [
                "ece901707e5cce1b"
            ]
        ]
    },
    {
        "id": "6685731a163ef0a0",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration/timing/empty-duration",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 1880,
        "wires": [
            [
                "ece901707e5cce1b"
            ]
        ]
    },
    {
        "id": "24992db225e80995",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration/timing/temp-check-interval",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 1920,
        "wires": [
            [
                "ece901707e5cce1b"
            ]
        ]
    },
    {
        "id": "424bb5767272e0c0",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration/timing/modbus",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 1960,
        "wires": [
            [
                "ece901707e5cce1b"
            ]
        ]
    },
    {
        "id": "4d42abc2790b0d6d",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration/timing/modbus/heartbeat-interval",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 2000,
        "wires": [
            [
                "ece901707e5cce1b"
            ]
        ]
    },
    {
        "id": "ba830c4574288d75",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration/timing/modbus/publish-interval",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 2040,
        "wires": [
            [
                "ece901707e5cce1b"
            ]
        ]
    },
    {
        "id": "86fa835469535f1f",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration/timing/modbus/read-interval",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 2080,
        "wires": [
            [
                "ece901707e5cce1b"
            ]
        ]
    },
    {
        "id": "76e41250122a7b0d",
        "type": "template",
        "z": "188f3d12c338cf2e",
        "name": "rest_response mapping to sps_status",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"system\": {\n        \"operating_mode\": \"operating_mode\",\n        \"state\": \"LAST_STEP_NUMBER\",\n        \"pump\": \"PUMP\",\n        \"valves\": {\n            \"main_a\": \"V1\",\n            \"main_b\": \"V3\",\n            \"upper\": \"UPPER_MAGNETIC_VALVE\",\n            \"lower\": \"LOWER_MAGNETIC_VALVE\"\n        },\n        \"sensor\": {\n            \"temperature\": \"RO_TEMP\",\n            \"salinity\": \"RO_COND\",\n            \"o2_concentration\": \"RO_OXYGEN\",\n            \"acidity\": \"RO_PH\"\n        },\n        \"tank_a\": {\n            \"platform_position\": {\n                \"auto_tide\": \"auto_tide_a\",\n                \"target\": -1,\n                \"current\": \"TIDE_A\"\n            },\n            \"temperature\": {\n                \"target\": -1,\n                \"current\": -1\n            },\n            \"salinity\": -1,\n            \"o2_concentration\": -1,\n            \"acidity\": -1\n        },\n        \"tank_b\": {\n            \"platform_position\": {\n                \"auto_tide\": \"auto_tide_b\",\n                \"target\": -1,\n                \"current\": \"TIDE_B\"\n            },\n            \"temperature\": {\n                \"target\": -1,\n                \"current\": -1\n            },\n            \"salinity\": -1,\n            \"o2_concentration\": -1,\n            \"acidity\": -1\n        }\n    },\n    \"configuration\": {\n        \"timing\": {\n            \"tank_switch_interval\": -1,\n            \"empty_duration\": -1,\n            \"temp_check_interval\": -1\n        },\n        \"modbus\": {\n            \"heartbeat_interval\": -1,\n            \"publish_interval\": -1,\n            \"read_interval\": -1\n        }\n    }\n}",
        "output": "json",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "f15462676c62d327"
            ]
        ]
    },
    {
        "id": "c797ee2da7456504",
        "type": "template",
        "z": "188f3d12c338cf2e",
        "name": "mapping http-endpoints to rest_response",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"/system\": \"system\",\n    \"/system/operating-mode\": \"system.operating_mode\",\n    \"/system/state\": \"system.state\",\n    \"/system/pump\": \"system.pump\",\n    \"/system/valves\": \"system.valves\",\n    \"/system/valves/main-a\": \"system.valves.main_a\",\n    \"/system/valves/main-b\": \"system.valves.main_b\",\n    \"/system/valves/upper\": \"system.valves.upper\",\n    \"/system/valves/lower\": \"system.valves.lower\",\n    \"/system/sensor\": \"system.sensor\",\n    \"/system/sensor/temperature\": \"system.sensor.temperature\",\n    \"/system/sensor/salinity\": \"system.sensor.salinity\",\n    \"/system/sensor/o2-concentration\": \"system.sensor.o2_concentration\",\n    \"/system/sensor/acidity\": \"system.sensor.acidity\",\n    \"/system/tank-a\": \"system.tank_a\",\n    \"/system/tank-a/platform-position\": \"system.tank_a.platform_position\",\n    \"/system/tank-a/platform-position/auto-tide\": \"system.tank_a.platform_position.auto_tide\",\n    \"/system/tank-a/platform-position/target\": \"system.tank_a.platform_position.target\",\n    \"/system/tank-a/platform-position/current\": \"system.tank_a.platform_position.current\",\n    \"/system/tank-a/temperature\": \"system.tank_a.temperature\",\n    \"/system/tank-a/temperature/target\": \"system.tank_a.temperature.target\",\n    \"/system/tank-a/temperature/current\": \"system.tank_a.temperature.current\",\n    \"/system/tank-a/salinity\": \"system.tank_a.salinity\",\n    \"/system/tank-a/o2-concentration\": \"system.tank_a.o2_concentration\",\n    \"/system/tank-a/acidity\": \"system.tank_a.acidity\",\n    \"/system/tank-b\": \"system.tank_b\",\n    \"/system/tank-b/platform-position\": \"system.tank_b.platform_position\",\n    \"/system/tank-b/platform-position/auto-tide\": \"system.tank_b.platform_position.auto_tide\",\n    \"/system/tank-b/platform-position/target\": \"system.tank_b.platform_position.target\",\n    \"/system/tank-b/platform-position/current\": \"system.tank_b.platform_position.current\",\n    \"/system/tank-b/temperature\": \"system.tank_b.temperature\",\n    \"/system/tank-b/temperature/target\": \"system.tank_b.temperature.target\",\n    \"/system/tank-b/temperature/current\": \"system.tank_b.temperature.current\",\n    \"/system/tank-b/salinity\": \"system.tank_b.salinity\",\n    \"/system/tank-b/o2-concentration\": \"system.tank_b.o2_concentration\",\n    \"/system/tank-b/acidity\": \"system.tank_b.acidity\",\n    \"/configuration\": \"configuration\",\n    \"/configuration/timing\": \"configuration.timing\",\n    \"/configuration/timing/tank-switch-interval\": \"configuration.timing.tank_switch_interval\",\n    \"/configuration/timing/empty-duration\": \"configuration.timing.empty_duration\",\n    \"/configuration/timing/temp-check-interval\": \"configuration.timing.temp_check_interval\",\n    \"/configuration/timing/modbus\": \"configuration.modbus\",\n    \"/configuration/timing/modbus/heartbeat-interval\": \"configuration.modbus.heartbeat_interval\",\n    \"/configuration/timing/modbus/publish-interval\": \"configuration.modbus.publish_interval\",\n    \"/configuration/timing/modbus/read-interval\": \"configuration.modbus.read_interval\"\n}",
        "output": "json",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "412d43da805157ce"
            ]
        ]
    },
    {
        "id": "9dc52c24123445f5",
        "type": "change",
        "z": "188f3d12c338cf2e",
        "name": "to flow.rest_response",
        "rules": [
            {
                "t": "set",
                "p": "rest_response",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "f15462676c62d327",
        "type": "change",
        "z": "188f3d12c338cf2e",
        "name": "to flow.map_response_to_status",
        "rules": [
            {
                "t": "set",
                "p": "map_response_to_status",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "412d43da805157ce",
        "type": "change",
        "z": "188f3d12c338cf2e",
        "name": "to flow.map_endpoint_to_response",
        "rules": [
            {
                "t": "set",
                "p": "map_endpoint_to_response",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e4c140f47f23b22b",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1190,
        "y": 320,
        "wires": [
            [
                "6663b6f250cd0867"
            ]
        ]
    },
    {
        "id": "6201dcb5dc592fa2",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/state",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1230,
        "y": 400,
        "wires": [
            [
                "6663b6f250cd0867"
            ]
        ]
    },
    {
        "id": "38d5876a6ce7793d",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/pump",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1230,
        "y": 440,
        "wires": [
            [
                "fb6998e367682f07"
            ]
        ]
    },
    {
        "id": "ae5b26a4c9fb8cb2",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/valves",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1230,
        "y": 480,
        "wires": [
            [
                "fb6998e367682f07"
            ]
        ]
    },
    {
        "id": "ea215119737aa0ce",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/valves/main-a",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1270,
        "y": 520,
        "wires": [
            [
                "fb6998e367682f07"
            ]
        ]
    },
    {
        "id": "1446435858628846",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/valves/main-b",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1270,
        "y": 560,
        "wires": [
            [
                "fb6998e367682f07"
            ]
        ]
    },
    {
        "id": "41e50303bba02aaa",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/valves/upper",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1270,
        "y": 600,
        "wires": [
            [
                "fb6998e367682f07"
            ]
        ]
    },
    {
        "id": "19593f2b03781926",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/valves/lower",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1270,
        "y": 640,
        "wires": [
            [
                "fb6998e367682f07"
            ]
        ]
    },
    {
        "id": "dc4584d9cb9af07e",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1230,
        "y": 680,
        "wires": [
            [
                "fb6998e367682f07"
            ]
        ]
    },
    {
        "id": "873d36eb12d99ec1",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a/platform-position",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1300,
        "y": 720,
        "wires": [
            [
                "4b4fe194e5a293bb"
            ]
        ]
    },
    {
        "id": "3d0aff6e59793ace",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a/platform-position/target",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1340,
        "y": 800,
        "wires": [
            [
                "4b4fe194e5a293bb"
            ]
        ]
    },
    {
        "id": "4be4f403720805a2",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a/temperature",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1290,
        "y": 840,
        "wires": [
            [
                "4b4fe194e5a293bb"
            ]
        ]
    },
    {
        "id": "a4d5036a182cce81",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a/temperature/target",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1330,
        "y": 880,
        "wires": [
            [
                "4b4fe194e5a293bb"
            ]
        ]
    },
    {
        "id": "dcf7e4d21361d68e",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1230,
        "y": 920,
        "wires": [
            [
                "fb6998e367682f07"
            ]
        ]
    },
    {
        "id": "eca9629642b7f34d",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b/platform-position",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1300,
        "y": 960,
        "wires": [
            [
                "4b4fe194e5a293bb"
            ]
        ]
    },
    {
        "id": "f4db91603f2e7a56",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b/platform-position/target",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1340,
        "y": 1040,
        "wires": [
            [
                "4b4fe194e5a293bb"
            ]
        ]
    },
    {
        "id": "7a9c82e54c22818d",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b/temperature",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1290,
        "y": 1080,
        "wires": [
            [
                "4b4fe194e5a293bb"
            ]
        ]
    },
    {
        "id": "37abad708089168c",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b/temperature/target",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1330,
        "y": 1120,
        "wires": [
            [
                "4b4fe194e5a293bb"
            ]
        ]
    },
    {
        "id": "d237f11ebed99c58",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1210,
        "y": 1160,
        "wires": [
            [
                "bb1fbba0237bde1d"
            ]
        ]
    },
    {
        "id": "c18a30c6bad0c32c",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration/timing",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1250,
        "y": 1200,
        "wires": [
            [
                "bb1fbba0237bde1d"
            ]
        ]
    },
    {
        "id": "5a63fc824de7f059",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration/timing/tank-switch-interval",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1330,
        "y": 1240,
        "wires": [
            [
                "bb1fbba0237bde1d"
            ]
        ]
    },
    {
        "id": "fa913d90c7e2f0fb",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration/timing/empty-duration",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1320,
        "y": 1280,
        "wires": [
            [
                "bb1fbba0237bde1d"
            ]
        ]
    },
    {
        "id": "5b48217c2ce7ec3a",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration/timing/temp-check-interval",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1330,
        "y": 1320,
        "wires": [
            [
                "bb1fbba0237bde1d"
            ]
        ]
    },
    {
        "id": "ab368e492f96a6ff",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration/timing/modbus",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1290,
        "y": 1360,
        "wires": [
            [
                "bb1fbba0237bde1d"
            ]
        ]
    },
    {
        "id": "bc35eff4cba43fc0",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration/timing/modbus/heartbeat-interval",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1370,
        "y": 1400,
        "wires": [
            [
                "bb1fbba0237bde1d"
            ]
        ]
    },
    {
        "id": "01d5195e21fa86ac",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration/timing/modbus/publish-interval",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1360,
        "y": 1440,
        "wires": [
            [
                "bb1fbba0237bde1d"
            ]
        ]
    },
    {
        "id": "9c7d7794669e9342",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/configuration/timing/modbus/read-interval",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1360,
        "y": 1480,
        "wires": [
            [
                "bb1fbba0237bde1d"
            ]
        ]
    },
    {
        "id": "30cc1f7a659edcac",
        "type": "http response",
        "z": "188f3d12c338cf2e",
        "name": "",
        "statusCode": "501",
        "headers": {},
        "x": 1860,
        "y": 320,
        "wires": []
    },
    {
        "id": "fb6998e367682f07",
        "type": "switch",
        "z": "188f3d12c338cf2e",
        "name": "MANUAL_CONTROL",
        "property": "sps_status[\"MANUAL_CONTROL\"]",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1700,
        "y": 440,
        "wires": [
            [
                "856797b0010cef5e"
            ],
            [
                "4b4fe194e5a293bb"
            ]
        ]
    },
    {
        "id": "6b59a4afdb326ba0",
        "type": "http response",
        "z": "188f3d12c338cf2e",
        "name": "",
        "statusCode": "409",
        "headers": {},
        "x": 2100,
        "y": 440,
        "wires": []
    },
    {
        "id": "856797b0010cef5e",
        "type": "template",
        "z": "188f3d12c338cf2e",
        "name": "ConflictResponse",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "System is not in Manual-Control-Mode.",
        "output": "str",
        "x": 1930,
        "y": 440,
        "wires": [
            [
                "6b59a4afdb326ba0"
            ]
        ]
    },
    {
        "id": "6663b6f250cd0867",
        "type": "template",
        "z": "188f3d12c338cf2e",
        "name": "Not Implemented",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Not supported yet.",
        "output": "str",
        "x": 1690,
        "y": 320,
        "wires": [
            [
                "30cc1f7a659edcac"
            ]
        ]
    },
    {
        "id": "3efab40e38894d68",
        "type": "http response",
        "z": "188f3d12c338cf2e",
        "name": "",
        "statusCode": "501",
        "headers": {},
        "x": 1940,
        "y": 1360,
        "wires": []
    },
    {
        "id": "bb1fbba0237bde1d",
        "type": "template",
        "z": "188f3d12c338cf2e",
        "name": "Not Implemented",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Not supported yet.",
        "output": "str",
        "x": 1770,
        "y": 1360,
        "wires": [
            [
                "3efab40e38894d68"
            ]
        ]
    },
    {
        "id": "4b4fe194e5a293bb",
        "type": "function",
        "z": "188f3d12c338cf2e",
        "name": "parse into new setpoint",
        "func": "var map_endpoint_to_response = flow.get(\"map_endpoint_to_response\");\nvar rest_put_format = flow.get(\"rest_put_format\");\n\n// parses the requested operating mode to the corresponding integer\n// setpoint is either an integer or the corresponding mode-string\nvar parseOperatingMode = function(setpoint) {\n    // possible states and its id\n    const mode_strings = {\n        \"AUTOMATIC_CYCLE\": 0,\n        \"MEASURE_TANK_A\": 1,\n        \"MEASURE_TANK_B\": 2,\n        \"DRAIN_SENSOR\": 3,\n        \"STOP\": 4\n    };\n\n    let id = mode_strings[setpoint];\n    if (isNaN(id)) {\n        id = parseInt(setpoint)\n        if (id < 0 || 4 < id || isNaN(id)) {\n            id = null;\n            msg.statusCode = 400;\n            msg.payload = \"Unknown Status: \" + setpoint + \".\";\n        }\n    }\n    return id;\n}\n\n// recursively copies the requested values from the json request into a setpoint object\n//   format: mapping of a subset of the full json-rest-structure to its key in a setpoint object\n//   payload: same subset of the json-rest-structure as \"format\" but with the requested values\n//   setpoint: setpoint object to fill\nvar addToSetpoint = function(format, payload, setpoint){\n    //check if input is null (if format and payload do not match)\n    if(format === null || payload === null){\n        msg.statusCode = 400;\n        msg.payload = \"Body of request does not fit the expected format\";\n        setpoint = {};\n    }\n    // if current subset of the json-rest-structure has more parameters\n    if (typeof format === 'object') {\n        // recursively fill each parameter\n        for (let key in format) {\n            addToSetpoint(format[key], payload[key], setpoint);\n        }\n    }\n    // if current subset is a single parameter fill in the value\n    else {\n        //special handling of auto-tide\n        if(format === \"auto_tide_a\" || \n                format === \"auto_tide_b\"){\n            let modes = global.get(\"modes\");\n            modes[format] = payload;\n        }\n        //special handling of operating_mode\n        else if (format === \"operating_mode\") {\n            let modes = global.get(\"modes\");\n            modes[format] = parseOperatingMode(payload);\n        }\n        else if(format !== -1){\n            setpoint[format] = payload;\n        }\n    }\n}\n\n\n/* return the requested setpoint with given url and payload */\nvar constructSetpoint = function (url, payload) {\n    // remove trailing slashes\n    url = url.endsWith('/') ? url.slice(0, -1) : url;\n\n    // get the path to the nested parameter\n    var path = map_endpoint_to_response[url].split(\".\");\n    // get mapping from rest-response-object to setpoint-keys\n    var format = RED.util.cloneMessage(rest_put_format);\n\n    // get only the subset of the mapping that is requested\n    for (let i in path) {\n        format = format[path[i]];\n    }\n    // so that payload and format have the same structure\n    payload = payload[path.at(-1)];\n    \n    // fill the setpoint and return it\n    var setpoint = {};\n    addToSetpoint(format, payload, setpoint);\n    return setpoint;\n}\n\n//unless something goes wrong set response status to OK\nmsg.statusCode = 200\nmsg.setpoint = constructSetpoint(msg.req.url, msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 480,
        "wires": [
            [
                "40397452dc32494b",
                "323bb0d44093cfaf",
                "38a53c72a7b05b35"
            ]
        ]
    },
    {
        "id": "40397452dc32494b",
        "type": "http response",
        "z": "188f3d12c338cf2e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2170,
        "y": 480,
        "wires": []
    },
    {
        "id": "b21514a3b309e9fa",
        "type": "link out",
        "z": "188f3d12c338cf2e",
        "name": "lnk_out_rest_setpoint_to_dashboard",
        "mode": "link",
        "links": [
            "fdcf63cccbac0ce9"
        ],
        "x": 2325,
        "y": 480,
        "wires": []
    },
    {
        "id": "a0d21f61bdf8e8ee",
        "type": "inject",
        "z": "188f3d12c338cf2e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1190,
        "y": 40,
        "wires": [
            [
                "e07b5d16716fd3dd",
                "66f2fe53f7991b48"
            ]
        ]
    },
    {
        "id": "e07b5d16716fd3dd",
        "type": "template",
        "z": "188f3d12c338cf2e",
        "name": "rest_put_format",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"system\": {\n        \"operating_mode\": \"operating_mode\",\n        \"state\": -1,\n        \"pump\": \"PUMP\",\n        \"valves\": {\n            \"main_a\": \"V1\",\n            \"main_b\": \"V3\",\n            \"upper\": \"UPPER_MAGNETIC_VALVE\",\n            \"lower\": \"LOWER_MAGNETIC_VALVE\"\n        },\n        \"tank_a\": {\n            \"platform_position\": {\n                \"auto_tide\": \"auto_tide_a\",\n                \"target\": \"TIDE_A\"\n            },\n            \"temperature\": {\n                \"target\": \"TEMP_SETPOINT_A\"\n            }\n        },\n        \"tank_b\": {\n            \"platform_position\": {\n                \"auto_tide\": \"auto_tide_b\",\n                \"target\": \"TIDE_B\"\n            },\n            \"temperature\": {\n                \"target\": \"TEMP_SETPOINT_B\"\n            }\n        }\n    },\n    \"configuration\": {\n        \"timing\": {\n            \"tank_switch_interval\": -1,\n            \"empty_duration\": -1,\n            \"temp_check_interval\": -1\n        },\n        \"modbus\": {\n            \"heartbeat_interval\": -1,\n            \"publish_interval\": -1,\n            \"read_interval\": -1\n        }\n    }\n}",
        "output": "json",
        "x": 1360,
        "y": 40,
        "wires": [
            [
                "e35c7622c16931e2"
            ]
        ]
    },
    {
        "id": "e35c7622c16931e2",
        "type": "change",
        "z": "188f3d12c338cf2e",
        "name": "to flow.map_response_to_status",
        "rules": [
            {
                "t": "set",
                "p": "rest_put_format",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "323bb0d44093cfaf",
        "type": "debug",
        "z": "188f3d12c338cf2e",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2180,
        "y": 560,
        "wires": []
    },
    {
        "id": "ece901707e5cce1b",
        "type": "template",
        "z": "188f3d12c338cf2e",
        "name": "Not Implemented",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Not supported yet.",
        "output": "str",
        "x": 690,
        "y": 1880,
        "wires": [
            [
                "f8f0d0134a3cb955"
            ]
        ]
    },
    {
        "id": "38a53c72a7b05b35",
        "type": "switch",
        "z": "188f3d12c338cf2e",
        "name": "request is ok?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2200,
        "y": 520,
        "wires": [
            [
                "b21514a3b309e9fa"
            ]
        ]
    },
    {
        "id": "eaa19af636945029",
        "type": "switch",
        "z": "188f3d12c338cf2e",
        "name": "MANUAL_CONTROL",
        "property": "sps_status[\"MANUAL_CONTROL\"]",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1700,
        "y": 400,
        "wires": [
            [
                "95a769edfaac37c0"
            ],
            [
                "e6e65f31a1f59cd2"
            ]
        ]
    },
    {
        "id": "18ae88f0160c15b7",
        "type": "http response",
        "z": "188f3d12c338cf2e",
        "name": "",
        "statusCode": "409",
        "headers": {},
        "x": 2100,
        "y": 400,
        "wires": []
    },
    {
        "id": "e6e65f31a1f59cd2",
        "type": "template",
        "z": "188f3d12c338cf2e",
        "name": "ConflictResponse",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "System is in Manual-Control-Mode.",
        "output": "str",
        "x": 1930,
        "y": 400,
        "wires": [
            [
                "18ae88f0160c15b7"
            ]
        ]
    },
    {
        "id": "95a769edfaac37c0",
        "type": "function",
        "z": "188f3d12c338cf2e",
        "name": "parse state",
        "func": "// possible states and its id\nconst states = {\n    \"STOP\": 0,\n    \"PREP_TANK_A\" : 1,\n    \"VENT_TANK_A\": 2,\n    \"RUN_TANK_A\": 3,\n    \"STOP_TANK_A\": 4,\n    \"DRAIN_SYSTEM_A\": 5,\n    \"PREP_TANK_B\": 6,\n    \"VENT_TANK_B\": 7,\n    \"RUN_TANK_B\": 8,\n    \"STOP_TANK_B\": 9,\n    \"DRAIN_SYSTEM_B\": 10\n};\n\nlet status_setpoint = msg.payload[\"state\"];\nlet id = states[status_setpoint];\nif(isNaN(id)){\n    id = parseInt(status_setpoint)\n    if (id < 0 || 10 < id || isNaN(id)){\n        msg.statusCode = 400;\n        msg.payload = \"Unknown Status: \" + status_setpoint + \".\";\n        msg.id = -1;\n        msg.drop = 0\n        return msg;\n    }\n}\n\nmsg.statusCode = 200;\nmsg.payload = \"State set to \" + status_setpoint + \".\";\nmsg.id = id;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 360,
        "wires": [
            [
                "45e1c67735c14282",
                "c8399f8543c1a778"
            ]
        ]
    },
    {
        "id": "45e1c67735c14282",
        "type": "http response",
        "z": "188f3d12c338cf2e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2170,
        "y": 360,
        "wires": []
    },
    {
        "id": "c8399f8543c1a778",
        "type": "switch",
        "z": "188f3d12c338cf2e",
        "name": "set state",
        "property": "id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 11,
        "x": 2080,
        "y": 140,
        "wires": [
            [
                "c8b5b0133f8aceda",
                "984d14f185fba203"
            ],
            [
                "665c58bb0967f62e",
                "984d14f185fba203"
            ],
            [
                "5c7d92749b63e22b",
                "984d14f185fba203"
            ],
            [
                "9f193477211885cf",
                "984d14f185fba203"
            ],
            [
                "4eaeb80e04754d90",
                "984d14f185fba203"
            ],
            [
                "5d6e9ffa65c2d433",
                "984d14f185fba203"
            ],
            [
                "4ec8d03409d90866",
                "984d14f185fba203"
            ],
            [
                "9925e568a89caf40",
                "984d14f185fba203"
            ],
            [
                "1d1814c4869e3383",
                "984d14f185fba203"
            ],
            [
                "87ae8e90b449c818",
                "984d14f185fba203"
            ],
            [
                "0eba332582454372",
                "984d14f185fba203"
            ]
        ]
    },
    {
        "id": "c8b5b0133f8aceda",
        "type": "link out",
        "z": "188f3d12c338cf2e",
        "name": "lnk_to_stop",
        "mode": "link",
        "links": [
            "89e47bb21ad728ec"
        ],
        "x": 2245,
        "y": 40,
        "wires": []
    },
    {
        "id": "665c58bb0967f62e",
        "type": "link out",
        "z": "188f3d12c338cf2e",
        "name": "lnk_to_prep_tank_a",
        "mode": "link",
        "links": [
            "9043510d7358b9aa"
        ],
        "x": 2285,
        "y": 60,
        "wires": []
    },
    {
        "id": "5c7d92749b63e22b",
        "type": "link out",
        "z": "188f3d12c338cf2e",
        "name": "lnk_to_vent_tank_a",
        "mode": "link",
        "links": [
            "bc844aff20fcc420"
        ],
        "x": 2245,
        "y": 80,
        "wires": []
    },
    {
        "id": "9f193477211885cf",
        "type": "link out",
        "z": "188f3d12c338cf2e",
        "name": "lnk_to_start_tank_a",
        "mode": "link",
        "links": [
            "a73881ed293b6a9c"
        ],
        "x": 2285,
        "y": 100,
        "wires": []
    },
    {
        "id": "4eaeb80e04754d90",
        "type": "link out",
        "z": "188f3d12c338cf2e",
        "name": "lnk_to_stop_tank_a",
        "mode": "link",
        "links": [
            "65a8deac56c2d5b8"
        ],
        "x": 2245,
        "y": 120,
        "wires": []
    },
    {
        "id": "5d6e9ffa65c2d433",
        "type": "link out",
        "z": "188f3d12c338cf2e",
        "name": "lnk_to_drain_system_a",
        "mode": "link",
        "links": [
            "16155fa536f4666b"
        ],
        "x": 2285,
        "y": 140,
        "wires": []
    },
    {
        "id": "4ec8d03409d90866",
        "type": "link out",
        "z": "188f3d12c338cf2e",
        "name": "lnk_to_prep_tank_b",
        "mode": "link",
        "links": [
            "1699d5695dbb85ef"
        ],
        "x": 2245,
        "y": 160,
        "wires": []
    },
    {
        "id": "9925e568a89caf40",
        "type": "link out",
        "z": "188f3d12c338cf2e",
        "name": "lnk_to_vent_tank_b",
        "mode": "link",
        "links": [
            "ebeb605bad12c3a4"
        ],
        "x": 2285,
        "y": 180,
        "wires": []
    },
    {
        "id": "1d1814c4869e3383",
        "type": "link out",
        "z": "188f3d12c338cf2e",
        "name": "lnk_to_start_tank_b",
        "mode": "link",
        "links": [
            "db55c803415e7fef"
        ],
        "x": 2245,
        "y": 200,
        "wires": []
    },
    {
        "id": "87ae8e90b449c818",
        "type": "link out",
        "z": "188f3d12c338cf2e",
        "name": "lnk_to_stop_tank_b",
        "mode": "link",
        "links": [
            "8a37df7c084d8dd2"
        ],
        "x": 2285,
        "y": 220,
        "wires": []
    },
    {
        "id": "0eba332582454372",
        "type": "link out",
        "z": "188f3d12c338cf2e",
        "name": "lnk_to_drain_system_b",
        "mode": "link",
        "links": [
            "cb109462c6006dd5"
        ],
        "x": 2245,
        "y": 240,
        "wires": []
    },
    {
        "id": "984d14f185fba203",
        "type": "template",
        "z": "188f3d12c338cf2e",
        "name": "drop queues",
        "field": "drop",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 2270,
        "y": 280,
        "wires": [
            [
                "cd97a9d5c0d13929"
            ]
        ]
    },
    {
        "id": "cd97a9d5c0d13929",
        "type": "link out",
        "z": "188f3d12c338cf2e",
        "name": "lnk_to_drop_queues",
        "mode": "link",
        "links": [
            "82032b48128df29a"
        ],
        "x": 2385,
        "y": 280,
        "wires": []
    },
    {
        "id": "8cc6188dae98cc80",
        "type": "link in",
        "z": "188f3d12c338cf2e",
        "name": "fill_rest_response",
        "links": [
            "9c4e440634e179ee"
        ],
        "x": 185,
        "y": 200,
        "wires": [
            [
                "bbf5ad782430dec5"
            ]
        ]
    },
    {
        "id": "bbf5ad782430dec5",
        "type": "function",
        "z": "188f3d12c338cf2e",
        "name": "sensor_reading_for_current_tank",
        "func": "var rest_response = flow.get(\"rest_response\");\nconst RUN_TANK_A = 3;\nconst RUN_TANK_B = 8;\n\nlet tank;\n\nif (msg.payload[\"LAST_STEP_NUMBER\"] == RUN_TANK_A) {\n    tank = \"tank_a\";\n}\nelse if (msg.payload[\"LAST_STEP_NUMBER\"] == RUN_TANK_B) {\n    tank = \"tank_b\";\n}\nelse {\n    return;\n}\n\nlet temperature = (0.01 * msg.payload[\"RO_TEMP\"]).toFixed(2);\nlet salinity = (0.01 * msg.payload[\"RO_COND\"]).toFixed(2);\nlet oxygen = (0.01 * msg.payload[\"RO_OXYGEN\"]).toFixed(2);\nlet acidity = (0.01 * msg.payload[\"RO_PH\"]).toFixed(2);\n\nrest_response[\"system\"][tank][\"temperature\"][\"current\"] = parseFloat(temperature);\nrest_response[\"system\"][tank][\"salinity\"] = parseFloat(salinity);\nrest_response[\"system\"][tank][\"o2_concentration\"] = parseFloat(oxygen);\nrest_response[\"system\"][tank][\"acidity\"] = parseFloat(acidity);\n        \nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1f581fe37077c867",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a/salinity",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 1200,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "9ff40ee3475d88d0",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a/o2-concentration",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 1240,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "4cc735ad90c377bb",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a/acidity",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 1280,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "121662427c465c6c",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b/salinity",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 1640,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "5b3a57f28e465de6",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b/o2-concentration",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 1680,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "054663eb7f996f2f",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b/acidity",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 1720,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "f8c31db1ccc4a90e",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a/platform-position/auto-tide",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 960,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "30d81c0686b46eab",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b/platform-position/auto-tide",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 1400,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "dc19c3a66ad38e06",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-a/platform-position/auto-tide",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1350,
        "y": 760,
        "wires": [
            [
                "4b4fe194e5a293bb"
            ]
        ]
    },
    {
        "id": "3a6099b0c8888351",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/tank-b/platform-position/auto-tide",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1350,
        "y": 1000,
        "wires": [
            [
                "4b4fe194e5a293bb"
            ]
        ]
    },
    {
        "id": "66f2fe53f7991b48",
        "type": "template",
        "z": "188f3d12c338cf2e",
        "name": "modes",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"operating_mode\": 0,\n    \"auto_tide_a\": 1,\n    \"auto_tide_b\": 1\n}",
        "output": "json",
        "x": 1330,
        "y": 80,
        "wires": [
            [
                "50e709ba8b700964"
            ]
        ]
    },
    {
        "id": "50e709ba8b700964",
        "type": "change",
        "z": "188f3d12c338cf2e",
        "name": "to global.modes",
        "rules": [
            {
                "t": "set",
                "p": "modes",
                "pt": "global",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "662c8bd4f17502f0",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/operating-mode",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "df3d67198926b044"
            ]
        ]
    },
    {
        "id": "74fe3672ddfb88b6",
        "type": "http in",
        "z": "188f3d12c338cf2e",
        "name": "",
        "url": "/system/operating-mode",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1260,
        "y": 360,
        "wires": [
            [
                "4b4fe194e5a293bb"
            ]
        ]
    },
    {
        "id": "f19fd19262394aca",
        "type": "comment",
        "z": "188f3d12c338cf2e",
        "name": "if setting state directly via rest is desirable:",
        "info": "",
        "x": 1640,
        "y": 360,
        "wires": []
    }
]